body {
   disply: flexbox;
   flex-wrap: nowrap;
   justify-content: center;
}

div {
   line-height: 1.5em;
   margin: 0 auto;
   justify-content: center;
}

button {
   color: #fff;
   background-color: #00a36a;
   background-image: linear-gradient(45deg, #c94642, #2ca559);
   font-size: 1.2em;
   border-radius: 5px;
   margin: 10px auto;
}
